.logo{
    margin-left: 40%;
    width: 150px;
}
h1{
    text-align: center;
    size: 20px;
    font-weight: bold;
    color: black;
}
html,body{
    background-image: url("../uploads/Background-1.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li{
    float: left;
    padding: 20px;
}
a:-webkit-any-link { color: black; }

a:hover{
    text-decoration: none!important;
    cursor: pointer;
    box-shadow: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    background-color: #d4af37;
}

li a:hover:not(.active) {
    background-color: gold;
}

.active {
    background-color: gold;
}