html,body{
    background-image: url("../uploads/Background-1.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 320px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
}

.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 ;
}

input:focus{
    outline: 0 0 0 0  ;
    box-shadow: 0 0 0 0 ;
}

.remember{
    color: white;
}

.comment{
    color: white;
    font-style: italic;
    text-align: center;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px
}

.login_cadastro_btn{
    color: black;
    background-color: gold;
    width: 100px;
}

.login_cadastro_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

@media (max-height: 500px) {
    .card{
        margin-top: 50px;
        margin-bottom: auto;

    }
}
@media (max-height: 350px) {
   .card-body{
        transform: scale(0.5);
    }
    .card-header h3{
        transform: scale(0.5);
        
    }
    .card{
        margin-top:0;
    }
}

@media (min-width: 781px) and (max-width: 980px) and (min-height: 800px){
   .card-body{
        transform: scale(2);
    }
    .card-header h3{
        transform: scale(2);
        margin-bottom: 150px;
    }
    
    .card{
        margin-top: 350px;
        background-color: rgba(0,0,0,0);
    }
    .fundo{
        position: absolute;
        margin-top: -50px;
        margin-bottom: auto;
        margin-left: -200px;
        margin-right: auto;
        height: 600px;
        width: 800px;
        background-color: rgba(0,0,0,0.5) !important;
    }

}

