<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inventario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/inventario.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
            <h1>Banco dos Sonhos</h1>
        <ul>
            <li><a class="active" href="#home"><font color="black">Home</font></a></li>
            <li><a href="#mochila"><font color="black">Mochila</font></a></li>
            <li><a href="#algibeira"><font color="black">Albibeira</font></a></li>
            <li><a href="#sei la"><font color="black">Sei la</font></a></li>
        </ul>
    </header>
    <section id="conteudo"></section>
    <footer>
    </footer>
    <script>
        document.querySelectorAll('a').forEach(link => {
            const conteudo = document.getElementById('conteudo')
            link.onclick = function (e) {
                e.preventDefault()
                fetch(link.href)
                    .then(resp => resp.text())
                    .then(b => conteudo.innerHTML = b)
            }
        })
        
    </script>

</body>

</html>